<div class = "container">
<div class ='jumbotron'>
<h1 align='center'>Welcome To My ROR Training App</h1>
<p align='center'>Good Place for ROR Training</p>

<p align='center'><%= link_to "Sign Up" ,"#" %></p>

<p align='center'><a href= "#" > Sign In </a></p>

</div>